.cnt {
    padding-top: 10px;
}
.form-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form-container button {
    margin-left: 20px;
}
.label {
    padding-right: 10px;
}

.uli{
    list-style: none;
    align-items: center;
}

.result {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: -28px;
    /* margin-left: 7.5%; */
}

.submit {
    height: 20;
    border-radius: 8px;
    
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-color: #484848;
}

.submit:hover {
    background-color: #484848;
    color: white;
    transition-duration: 0.6s;
}

.fav {
    margin-left: 15px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #303030;
    background-color: white;
    size: 15px;
    margin-bottom: 33;
    vertical-align: center;
}
.fav:hover {
    background-color: gold;
    color: black;
    transition-duration: 0.7s;
    
}