.cnt {
    padding-top: 10px;
}

.x {
    margin-left: 15px;
    margin-bottom: 25;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #303030;
    background-color: white;
    size: 15px;
    position: absolute;
    color: black;

}

.x:hover {
    
    background-color: black;
    color: white;
    transition-duration: 0.7s;


}